
:root{
 
    --cityButtonColor: #87c3ee;
    --cardBackground: rgb(20, 23, 63);
    --lightText: rgb(224, 224, 224);
    --darkText: black;

}


header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #ffffff;
  
 
}


.weatherTitle {
    /* background-color: #2a607c; */
    background: linear-gradient(90deg, rgb(61, 61, 185), rgb(10, 10, 59));
    color: #ffffff;
    text-align: center;

}

aside{
    width: 30%;
}

#topSearchSection{
    margin: 20 px;
    padding: 20px;
    border: #484d5c;
    border-bottom: 5 px;
}

button {
 background-color: var(--cityButtonColor);
}
   
#bottomDisplay{
    display: flex;
    flex-wrap: wrap;
}

/* CSS for card */
.weatherCard {
    background-color: #191e2e;
    color:var(--lightText);
}

input[type='text'] {
    
    padding-right: 3 em;
    display: inline-block;
    margin-right: 1 rem;
  }

.weatherTitle h1{
    flex: wrap;
    color: var(--lightText);
    text-align: center;
    font-size: 5em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}